.box-wrapper{
   width:100vw;
   height:100vh;
   position: absolute;
   backdrop-filter: blur(0.6rem);
   z-index: 5;
}
.box-container{
   background-color: white;
   position: relative;
   top: 12%;
   width:40vw;
   margin: 0 auto;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.download{
   position: absolute !important;
   left: 0% !important;
   width: 100% !important;
   height: 100%;
}

.merge{
   position: absolute !important;
   left: 60% !important;
   width: 100% !important;
   height: 100%;
}

@media only screen and (max-width: 1500px) {
   .box-container{
      width: 50vw;
   }
}

@media only screen and (max-width: 900px) {
   .box-container{
      width: 90vw;
   }
}

