.config table td{
    font-weight: 300;
}

.start-btn{
    text-align: center;
    padding: 3rem 0;
}


/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem 1.5rem 0.8rem 1.2rem;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%) !important;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be !important;
    letter-spacing: 0.05em;
    border-radius: 20em;
   }
   
   .cssbuttons-io-button svg {
    margin-right: 8px;
   }
   
   .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be !important;
   }
   
   .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be !important;
   }

   @media only screen and (max-width: 900px) {
    .start-btn{
        cursor: none !important;
    }
  }